*{
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
}
.bigcontainer{
  background-color: blue;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.nav{
  display: flex;
  background-color: #212121;
  height: 50px;
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;

}
.nav1{
  display: flex;
  align-items: center;
}
.nav1-2{
  padding: 27px;
}

.nav2{
  display: flex;
  width: 480px;
  height: 40px;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;
  /* outline: 3px solid orange; */
}
.nav2-1{
  display:flex;
  flex-direction: column;
  border: 1px solid #303030;
  border-radius: 2px 0px 0px 2px;
}
.nav2-2{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 43px;
  border-radius: 0px 2px 2px 0px;
  border: 1px solid var(--border-color, #303030);
  background: var(--border-color, #303030);
}

.serchbar{
  width: 362px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 2px 0px 0px 2px;
  background: #121212;
  border: solid;
  padding-left: 5px;
  color: white;
  /* font-weight: bold; */
  border: 1px solid var(--border-color, #303030);
}

.nav2-3{  
  margin-inline-start: 5px;/*use this to givr margin inside a div  */
  background-color: black;
  height: 43px;
  width: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.nav3{
  display: flex;
  width: 150px;
  height: 40px;
  align-items: center;
  /* justify-content: center; */
  /* align-items: flex-start; */
  gap: 20px;
  /* flex-shrink: 0; */
}

/*****************************************************/

.container{
  /* border: 2px solid orange; */
  max-width: 100%;
  max-height: 100%;
  /* background-color: blue; */
  display: flex;
  /* gap: 16px; */
  overflow-y: hidden;
}

/****************************************************/
/******************left*******************************/
.left{
  display: flex;
  flex-direction: column;
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #212121;
  max-width: 240px;
  height: 100%;
}
::-webkit-scrollbar{
  display: none;
}
.left1{
  display: flex;
  padding: 12px 0px;
  flex-direction: column;
}
.left1-1{
  display: flex;
  width: 192px;
  align-items: flex-start;
  gap: 24px;
}
#subscriptions{
  max-height: 100%;
}
/*******************************************************/

/*****************right*****************************/
.right{
  display: flex;
  flex-direction: column;
  flex: 1;
  /* outline: 2px solid red; */
  overflow-x: hidden;
  overflow-y: scroll;
}
.right1{
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  background-color: #212121;
  max-width: 100%;
}
.right1-elements{
  color: white;
  padding: 8px 12px;
  border-radius: 32px;
  font-size: 14px;
  border-radius: 32px;
  border: 0.3px solid var(--Gray-Color, #AAA);
  background: var(--border-color, #303030);
}
.right2{
  color: white;
  flex: 1;
  background-color: black;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}
.right2-container{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  gap: 40px;
/* flex-shrink: 0; */
}
.right2-row{
  display: flex;
  width: 100%;
  height: 247px;
  justify-content: center;
  /* outline: 2px solid pink; */
  /* align-items: flex-start; */
  gap: 16px;
  /* flex-shrink: 0; */
}
.right2-row-elements{
  display: flex;
  width: 265px;
  height: 247px;
  padding-bottom: 0px;
  flex-direction: column;
  /* outline: 2px solid salmon; */
  gap: 12px;
}
.right2-details{
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.right2-info{
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.right2-info-1{
  font-size: 12px;
  font-weight: 700;
}
.right2-info-2{
  color: var(--Gray-Color, #AAA);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#videoImage{
  /* width: 276px; */
  width: 100%;
  height: 155px;
  flex-shrink: 0;
}
#channelImage{
  width: 36px;
  height: 36px;
}